.login {
    margin-top: 10% !important;
}

.w-img h6 {
    margin-left: 5%;
}

.login img {
    width: 250px !important;
    height: 38px;
    /* margin-top: 49px; */
    margin-left: 58px !important;
    gap: 0px;
    opacity: 0px;
}

.login h4 {
    margin-left: 12% !important;
    font-size: 20px;
    font-family: Cursive;
    font-style: italic;
    font-weight: 200;
}

.login .btn {
    background-color: #000000 !important;
}

.w-img img {
    height: 350px;
    width: 500px;
}

.continue h6 {
    margin-left: 10% !important;
    font-size: 18px
}

.input-f input {
    width: 50% !important;
    height: 50px !important;
    border-radius: 10px;
    border: 1px solid #000;
}

.check input {
    /* width: 50%!important; */
    /* height: 50px!important; */
    border-radius: 10px;
    border: 1px solid #000;
}

.input-f .btn {
    background-color: #000 !important;
    color: #fff !important;
    height: 50px;
    border-radius: 10px;
    margin-top: 14% !important;
}

.input-f .btn:hover {
    background-color: #FFFFFF !important;
    color: #000 !important;
}